<ion-header>
  <ion-toolbar>
   <ion-buttons slot ="start">
     <ion-menu-button menu="first" color="primary"></ion-menu-button>
   </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        
        
          <ion-img src="/assets/gente.jpg"></ion-img>
        
        
      </ion-col>
      <ion-col size="4">
        <h1>Remu</h1>
        <h2>Subtitulo</h2>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        Debido a la pandemia ha aumentado la tasa de desempleo, por esto encontrar empleo es mas dificil en estos tiempos,
        con esta informacion hemos decidido crear un mural con el cual gente desempleada pueda ofrecer sus servicios en su area y los que requieran 
        de este servicio contratarlos, al igual que se podra evaluar el servicio dado por esta gente en base a un sistema de 5 estrellas.
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
