<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
   <ion-buttons slot ="start">
     <ion-menu-button menu="first" color="primary"></ion-menu-button>
   </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        
        
          <ion-img src="/assets/gente.jpg"></ion-img>
        
        
      </ion-col>
      <ion-col size="4">
        <ion-lable>
          Remu
        </ion-lable>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        Debido a la pandemia la tasa de desempleo en Chile paso de un 7% en 2019 a un 9.5% en 2021,
        esto nos demuestro que encontrar empleo es mas dificil en estos tiempos,
        con esta informacion hemos decidido crear un mural con el cual gente desempleada pueda ofrecer sus servicios en su area y aquellos que requieran 
        de este servicio contactarlos y contratarlos, al igual que se podra evaluar el servicio dado por esta gente en base a un sistema de 5 estrellas.


        Comenzaremos en Santiago para ver si esto ayuda con el desempleo, en base a estos resultados decidiremos si haremos que nuestra aplicacion funcione
        a nivel nacional.
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
