<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot ="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mural</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <ion-list>
    <ion-item>
      <ion-avatar (click)="mostrarModal('Jose Rodrigues', 'Gasfiter con 20 años de experiencia')" slot="start">
        <ion-img src="/assets/gente1.jpg">
        </ion-img>
      </ion-avatar>
      <ion-label>Jose Rodrigues</ion-label>
      <ion-label slot="end">gasfiter</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar (click)="mostrarModal('Imelda', 'planchado, 40 años de experiencia')" slot="start">
        <ion-img src="/assets/gente2.jpg">
        </ion-img>
      </ion-avatar>
      <ion-label>Imelda</ion-label>
      <ion-label slot="end">planchado</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar (click)="mostrarModal('Romualdo Ramirez', 'albañil')" slot="start">
        <ion-img src="/assets/gente3.jpg">
        </ion-img>
      </ion-avatar>
      <ion-label>Romualdo Ramirez</ion-label>
      <ion-label  slot="end">albañil</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar (click)="mostrarModal('Reginaldo Gomez', 'Electrico')" slot="start">
        <ion-img src="/assets/gente4.jpg">
        </ion-img>
      </ion-avatar>
      <ion-label>Reginaldo Gomez</ion-label>
      <ion-label  slot="end">Electrico</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar (click)="mostrarModal('Melgar Quispe', 'Maestro')" slot="start">
        <ion-img src="/assets/gente5.jpg">
        </ion-img>
      </ion-avatar>
      <ion-label>Melgar Quispe</ion-label>
      <ion-label slot="end">Maestro</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
